.navbar{
    background-color: #263238;
}
.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    color: white;
}
.myBtn{
    width: 100px;
    background-color: #263238;
    color: #fff;
}
.myBtn:hover{
    width: 100px;
    background-color: #263238;
    color: #fff;
}
.swal2-confirm{
    background-color: #263238;
}
.swal2-confirm:hover{
    background-color: #263238;
}
.bgImg{
    width: 50px;
    height: 50px;
}
.bgImg:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.selectedImg{
    border: 2px solid #263238;
    border-radius: 5px;
}

.card-body{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}